.users {
  h3 {
    font-weight: 500;
    color: #213f7d;
  }

  &__table {
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    width: 100%;
    overflow: auto;
    // height: 400px;
    margin: 40px 0;

    @media (max-width: 900px) {
      width: 100vw;
    }

    table {
      padding: 20px;
      border-collapse: collapse;
      width: 120%;
      margin: 20px;
      color: #545f7d;
    }

    thead {
      margin: 20px;
      padding: 40px 0;
    }

    th {
      text-align: left;
      text-transform: uppercase;
      font-family: Work Sans;
      font-size: 12px;
      font-weight: 600;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;
    }

    tr {
      font-family: Work Sans;
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      padding: 10px;
      border-bottom: 1px solid #ddd;
    }

    th {
      padding: 20px 0;
    }

    td {
      padding: 10px 0;

      // max-width: 100px !important;
      // word-wrap: break-word;
      // @media (max-width: 768px) {
      //   width: 100px !important;
      //   word-wrap: break-word;
      // }
    }
  }
}

.dots {
  // position: relative;

  &__dot {
    cursor: pointer;
  }

  &__popup {
    font-size: 14px;
    // font-family: Work Sans;

    // padding: 10px 20px;

    li {
      padding: 5px 0;
      cursor: pointer;
    }
  }

  // &__popup {
  //   width: 100px;
  //   right: 0;
  //   background-color: #ffffff;
  //   position: absolute;
  //   padding: 10px 20px;
  //   border: 1px solid rgba(84, 95, 125, 0.04);
  //   box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  //   border-radius: 4px;

  //   li {
  //     padding: 8px 0;
  //     cursor: pointer;
  //   }
  // }
}

.select {
  outline: none;
  background: rgba(33, 63, 125, 0.1);
  border-radius: 4px;
  padding: 5px;
  border: none;
}

.showing-page {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #545f7d;
}
